.vscode
alacritty
autostart
bat
cava
cef_user_data
Code
configstore
dconf
Electron
eww
google-chrome
htop
menus
microsoft-edge
nautilus
pulse
systemd
tmux
WebCord
xsettingsd
yay
background
mimeapps.list
pavucontrol.ini